# === Lingkungan Lokal  ===
venv/
env/
.venv/
bin/
lib/
share/
Include/

# === Data Sensitif ===
.env

# === Python Artifacts ===
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.installed.cfg
pip-log.txt
pip-delete-this-directory.txt

# === OS Specific ===
.DS_Store
Thumbs.db

# === IDE Specific  ===
.vscode/
.idea/
*.swp
*.swo

# === Logs ===
*.log

# === Pkl models ===
*.pkl
models/
dataset/