# === Lingkungan Lokal  ===
# Folder ini berisi ribuan file library lokal yang akan dibangun ulang oleh Azure
venv/
env/
.venv/
bin/
lib/
share/
Include/

# === Data Sensitif ===
# JANGAN PERNAH mengunggah file ini karena berisi API Key Groq kamu
.env

# === Python Artifacts ===
# File sampah yang otomatis dibuat saat Python menjalankan kode
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.installed.cfg
pip-log.txt
pip-delete-this-directory.txt

# === OS Specific ===
.DS_Store
Thumbs.db

# === IDE Specific  ===
.vscode/
.idea/
*.swp
*.swo

# === Logs ===
# File catatan aktivitas server lokal
*.log